:root {
	--tsettings-btn-size: 40px;

	--tsettings-menu-size: 300px;

	--tsettings-transition-duration: 2s;
}

body[data-tsettings="false"]
	> #tiles-settings-container
	> #tiles-settings-btn:hover
	> .bgtiles-open-icon {
	opacity: 1;
}
body[data-tsettings="true"]
	> #tiles-settings-container
	> #tiles-settings-btn:hover
	> .bgtiles-close-icon {
	opacity: 1;
}

main {
	transition-property: transform;
	transition-duration: var(--tsettings-transition-duration);
	transition-timing-function: ease;
}

body[data-tsettings="false"] > main {
	position: absolute;

	transform: translateX(0px);
}

body[data-tsettings="true"] > main {
	position: absolute;

	transform: translateX(calc(var(--tsettings-menu-size) + 1px));
}

#tiles-settings {
	position: absolute;

	width: var(--tsettings-menu-size);
	height: 100%;

	background-color: var(--bgcolor);

	inset: 0px 1px 0px 0px;

	transition-property: transform;
	transition-duration: var(--tsettings-transition-duration);
	transition-timing-function: ease;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

body[data-tsettings="false"] > #tiles-settings-container > #tiles-settings {
	transform: translateX(calc(0px - var(--tsettings-menu-size)));
}

body[data-tsettings="true"] > #tiles-settings-container > #tiles-settings {
	transform: translateX(0px);
}

#tiles-settings-btn {
	position: absolute;

	z-index: 2;

	width: var(--tsettings-btn-size);
	height: var(--tsettings-btn-size);

	border: 2px solid black;
	border-radius: var(--tsettings-btn-size);

	cursor: pointer;

	animation: kf-bgpan var(--gtime) linear infinite;

	background: linear-gradient(
		to bottom,
		var(--g1),
		var(--gsep),
		var(--g2),
		var(--gsep),
		var(--g3),
		var(--gsep),
		var(--g1)
	);
	background-size: 100% 500vh;

	transition-property: left;
	transition-duration: var(--tsettings-transition-duration);
	transition-timing-function: ease;
}

body[data-tsettings="false"] > #tiles-settings-container > #tiles-settings-btn {
	top: 5px;
	left: 5px;
}

body[data-tsettings="true"] > #tiles-settings-container > #tiles-settings-btn {
	top: 5px;
	left: calc(var(--tsettings-menu-size) - var(--tsettings-btn-size) - 5px);
}

#tiles-settings-btn > i {
	position: absolute;

	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);

	opacity: 0;

	font-size: 1.2rem;

	transition-property: opacity;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

#tiles-settings > h2 {
	text-align: center;
	margin: 0px;
}
